body {
    margin: 0;
    padding: 0;
    background-image: url('/static/images/crvenkapicakresh.jpg');
}

h1 {
    padding: 4rem;
    color: blue;
    text-align: center;
    align-items: center;
}

img {
    width: 14rem;
}