body {
    margin: 0;
    padding: 0;
    color: blue;
    background-image: url('/images/crvenkapicakresh.jpg');
}

header {
    padding: 4rem;
    margin: 2rem;
    text-align: center;
    align-items: center;
}


img {
    width: 14rem;
    margin: 2rem;
}

section {
    margin: 3rem;
    padding: 2rem;
    background-color: rgba(224, 161, 138, 0.381);
}

footer {
    text-align: center;
    padding: 3rem;
}